<template>
  <v-btn
    icon
    nuxt
    to="/user"
  >
    <v-avatar>
      <UserImg
        :user="user"
      />
    </v-avatar>
  </v-btn>
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator'
const userStore = namespace('user-store')

@Component
export default class AppBarUser extends Vue {
  @userStore.Getter
  public user!:any
}
</script>