<template>
  <v-dialog
    v-model="value"
    persistent
    max-width="550px"
    @keydown.enter="saveUser"
    @keydown.esc="cancel"
  >
    <v-card>
      <v-card-title>New User</v-card-title>
      <v-card-text>

        <v-text-field
          label="Display name"
          v-model="name"
          autofocus
        >
        </v-text-field>

        <v-text-field
          label="Ressource slug"
          v-model="slug"
          :placeholder="toRessourceName(name)"
          :rules="[verifySlug]"
        >
        </v-text-field>

        <v-textarea
          rows="3"
          v-model="bio"
        >
          <template v-slot:label>
            <div>
              Bio
            </div>
          </template>
        </v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel">
          Cancel
        </v-btn>
        <v-btn
          text
          @click="saveUser"
          :disabled="verifySlug(slug) !== true
            || (slug ==='' && !toRessourceName(name))"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Vue, Component, Prop, namespace } from 'nuxt-property-decorator'
const user = namespace('user-store')
const slug = require('slug')

@Component
export default class CreateUserDialog extends Vue {

  name = ""
  slug = ""
  bio = ""

  @Prop(Boolean) readonly value:boolean = false

  @user.Getter
  public itemList!: any

  verifySlug(testSlug:string) {
    if (!/^[a-z\d-]*$/.test(testSlug))
      return "Slug must be composed of lowercase letters, numbers or hyphens"
    if (this.itemList.some((user:any)=> user.slug == testSlug))
      return "This slug already exists"
    return true
  }

  clearForm() {
    this.name = ""
    this.slug = ""
    this.bio = ""
  }

  saveUser() {
    if (this.verifySlug(this.slug) !== true
      || (this.slug ==='' && !this.toRessourceName(this.name)))
    {
        // Invalid user
        return;
    }

    this.$emit('newUser', {
      name: this.name,
      slug: this.slug || this.toRessourceName(this.name),
      bio: this.bio
    })
    this.clearForm()
  }

  cancel() {
    this.$emit('cancel')
    this.clearForm()
  }

  toRessourceName(name:string):string {
    let sluggedName = slug(name)
    if (this.itemList.some((user:any)=> user.slug == sluggedName)) {
      let match = sluggedName.match(/^(.*?)([\d]*)$/)
      if (match)
        return this.toRessourceName(match[1] + (Number(match[2])+1))
      return ''
    }
    return sluggedName
  }
}
</script>
