<template>
  <v-list>
    <v-list-item-group
      :value="selectedUser"
      @change="selectionChanged"
    >
      <v-list-item
        v-for="(item) in itemList"
        :key="item.slug"
        :value="item.slug"
      >

        <v-list-item-avatar>
          <UserImg :user="item"/>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-html="item.name"></v-list-item-title>
          <v-list-item-subtitle v-html="item.slug"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-row>
            <v-btn text disabled>
              <v-icon>mdi-download</v-icon>
            </v-btn>
            <v-menu offset-y>
              <template v-slot:activator="{ attrs, on }">
                <v-btn
                  text color="red"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <v-btn color="red" v-on:click="deleteUser(item.slug)">
                Confirm
              </v-btn>
            </v-menu>
          </v-row>
        </v-list-item-action>

      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator'
const userStore = namespace('user-store')

@Component
export default class LoginUserList extends Vue {
  public get selectedUser () {
    if (this.user)
      return this.user.slug
    return undefined
  }

  selectionChanged(slug:string) {
    this.setUser(slug)
    if (slug)
      this.$emit('change', slug)
  }

  @userStore.Getter
  public itemList!: any

  @userStore.Getter
  public user!: any

  @userStore.Mutation
  public deleteUser!: (slug:string) => void

  @userStore.Mutation
  public setUser!: (slug:string) => void
}
</script>
