<template>
  <img v-if="drawAvatar"
    :src="drawAvatar"
  >
  <v-icon v-else>mdi-account-alert</v-icon>
</template>

<script lang="js">
import { generateFromString } from 'generate-avatar'
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component
export default class UserImg extends Vue {
  @Prop(Object) user

  get drawAvatar() {
    if (this.user)
      return this.user.avatar
        || `data:image/svg+xml;utf8,${generateFromString(this.user.slug)}`
    return ''
  }
}
</script>
