<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-toolbar-title>YBUB</v-toolbar-title>
      <v-spacer/>
      <AppBarUser/>
    </v-app-bar>
    <v-main app>
      <nuxt/>
    </v-main>
  </v-app>
</template>
