<template>
  <v-card
    class="mx-auto my-8"
    max-width="450"
  >
    <v-card-title class="headline">
      ybub
    </v-card-title>
    <v-card-text>
      <p>ybub is a peer-to-peer card game application</p>
      <p>We aim to create a simple, no-nonsense and free experience.</p>
      <div class="text-xs-right">
        <em><small>&mdash; Édouard Denommée</small></em>
      </div>
      <hr class="my-3">
      <a
        href="https://gitlab.com/ybub/ybub"
        target="_blank"
        rel="noopener noreferrer"
      >
        Join us on GitLab
      </a>
    </v-card-text>
  </v-card>
</template>