<template>
    <h1>You can only view this page if a user is selected</h1>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({ middleware : 'user' })
export default class Restricted extends Vue {
}
</script>