<template>
  <v-card
    class="mx-auto my-8"
    max-width="600"
  >
    <v-card-title>
      Users
    </v-card-title>

    <v-card-text>
      You need a user profile to play with others online.<br>
      No email, password or phone number is required.
    </v-card-text>

    <v-card-actions>
      <v-btn @click.stop="dialog = true">
        <v-icon left>mdi-account-plus</v-icon>
        Create new user
      </v-btn>

      <v-btn disabled>
        <v-icon left>mdi-paperclip</v-icon>
        Import user file
      </v-btn>
    </v-card-actions>

    <CreateUserDialog
      v-model="dialog"
      @cancel="dialog=false"
      @newUser="newUser"
    />

    <LoginUserList
      @change="followLink"
    />
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, namespace } from 'nuxt-property-decorator'
const user = namespace('user-store')

@Component
export default class Login extends Vue {

  dialog:boolean =false

  @user.Mutation
  public createUser!:(user:any)=> void

  @user.Getter
  public itemList!: []

  @user.Mutation
  public setUser!: (slug:string) => void

  newUser(user: Object) {
    this.dialog = false
    var count = this.itemList.length
    this.createUser(user)

    if (count === 0) {
      this.setUser(String(user['slug' as keyof Object]))
      this.followLink()
    }
  }

  followLink() {
    if (this.$route.query.r)
      this.$router.push(String(this.$route.query.r))
  }
}
</script>

